.header {
background-color: #334756;
border-bottom: 100px;
border-color: #334756;
}
hr {
	border-style: inset;
}
#bcgimage{
	width: 1500px;
	height: 600px;
}
#VK{
	color: #ffffff;
	font-size: 30px;
}

#Facebook{
	color: #ffffff;
	font-size: 30px;
}

#Instagram{
	color: #ffffff;
	font-size: 30px;
}
#Welcome {
	color: #ffffff;
	background: #cc1a1a;
	font-family: Georgia;

}
#div {
	background-color: #334756;
	color: #cc1a1a;
}
#id {
	background-color: #334756;
	color: #ffffff;
}
a {
  color: #D9534F;
	font-family: Georgia;
	font-size: 400%;
	margin: 20px;
	padding: 10px;
}
.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 60px;
  background: #cc1a1a;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}

.btn:hover {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #3498db);
  background-image: -moz-linear-gradient(top, #fafafa, #3498db);
  background-image: -ms-linear-gradient(top, #fafafa, #3498db);
  background-image: -o-linear-gradient(top, #fafafa, #3498db);
  background-image: linear-gradient(to bottom, #fafafa, #3498db);
  text-decoration: none;
}
h4 {
  color: #F6F6F6;
}
body {
	background-color: #334756;
}
h2 {
	color: #cc1a1a;
}
#block {
	color: #ffffff;
	background-color: #334756;
}
#myBtn {
	background: #FFE61B;
  background-image: -webkit-linear-gradient(top, #FC4F4F, #FFE61B);
  background-image: -moz-linear-gradient(top, #FC4F4F, #FFE61B);
  background-image: -ms-linear-gradient(top, #FC4F4F, #FFE61B);
  background-image: -o-linear-gradient(top, #FC4F4F, #FFE61B);
  background-image: linear-gradient(to bottom, #FC4F4F, #FFE61B);
  text-decoration: none;
	position: relative;
 	left: 50%;
	transform: translate(-50%, 0);

}
#films{
	width: 500;
	height: 1000;
}
