.films {
  color: #FF0000;
	font-family: Georgia;
	font-size: 200%;
}
a {color: #F1F1F1;
}
h1 {
  color: #FF0000;
  font-size: 400%;
}
html {
  background-color: #334756;
}
#trend {
background-color: #334756;
color: #ffffff;
font-size: 200%;
background-color: #FFE61B;
color: #FF0000;}
